
  
  
  <ion-content>
  
    <ion-header class="header-header">  
  
      <div [routerLink]="['/login']">
        <ion-icon name="person"></ion-icon>
        <ion-label class="label-header" >Login</ion-label>
      </div>
        |
        <div style="padding-left: 15px;" [routerLink]="['/signup']" >
          <ion-icon name="pencil"></ion-icon>
          <ion-label style="color: #fff;" >Cadastro</ion-label>
        </div>
        
        
      
      </ion-header>

  
      
      <ion-header class="header hide-header">
        
        
          <ion-img  [routerLink]="['/onboarding']"  style="max-width: 10%;" src="../../../assets/images-coopeere/coopere.png"></ion-img>
        
      
        
        <ion-button fill="clear"  [routerLink]="['/']" routerLinkActive="active-link">Home</ion-button>
        
        <div class="dropdown">
          <a [routerLink]="['/onboarding']" routerLinkActive="active-link">A COOPEERE <svg class="arrowicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/></svg></a>
          <div class="dropdown-content">
            <a [routerLink]="['/quemsomos']" class="dropdown-item">Quem Somos?</a>
            <a [routerLink]="['/objetivos']" class="dropdown-item">Objetivo</a>
            <a [routerLink]="['/equipe']" class="dropdown-item">A Equipe</a>
          </div>
        </div>
      
        <ion-button fill="clear"  [routerLink]="['/estatuto']" routerLinkActive="active-link">Estatuto</ion-button>
        <ion-button fill="clear"  [routerLink]="['/legislacao']" routerLinkActive="active-link">Legislação</ion-button>
        <ion-button fill="clear" [routerLink]="['/vantagens']" routerLinkActive="active-link">Vantagens</ion-button>
        <ion-button fill="clear"  [routerLink]="['/parceiros']" routerLinkActive="active-link">Parceiros</ion-button>
        <ion-button fill="clear" [routerLink]="['/faleconosco']" routerLinkActive="active-link">Fale Conosco</ion-button>
    
      </ion-header>


    <div class="container">

    </div>

    <div class="minimum-header">

        
      <ion-img class="logo-min-header" [routerLink]="['/onboarding']"  src="../../../assets/images-coopeere/coopere.png"></ion-img>

     
      

      <!-- TESTANDO O MENU HAMBURGUER COM DROPDOWN -->
<div class="menu-min-header">
      <nav class="thenav">
        <div class="hamburger-menu-X" (click)="toggleMenu()">
          <div class="bar-X"></div>
          <div class="bar-X"></div>
          <div class="bar-X"></div>
        </div>
        <ul class="menu-items-X" *ngIf="showMenu">
          <br>
          <li><a [routerLink]="['/onboarding']" routerLinkActive="active-link">HOME</a></li>
          <li><a href="#">A COOPEERE</a></li>
          <li><a [routerLink]="['/estatuto']" routerLinkActive="active-link">ESTATUTO</a></li>
          <li><a [routerLink]="['/legislacao']" routerLinkActive="active-link">LEGISLAÇÃO</a></li>
          <li><a [routerLink]="['/vantagens']" routerLinkActive="active-link">VANTAGENS</a></li>
          <li><a [routerLink]="['/parceiros']" routerLinkActive="active-link">PARCEIROS</a></li>
          <li><a [routerLink]="['/faleconosco']" routerLinkActive="active-link">FALE CONOSCO</a></li>
          

          
        </ul>
      </nav>
    </div>   

    <!-- 
      
      PACK DE CLASSES EM COMUM EM TODAS AS PAGINAS

      * menu-items-X
      * minimum-header
      * menu-min-header
      * thenav
      * hamburger-menu-X
      * bar-X
    
    -->
      
      <!-- FIM DO TESTE DO MENU HAMBURRGUER COM DROPDOWN -->
  

      <ion-icon name="search" class="search-min-header">Procurar</ion-icon>
    </div>
  

<ion-slides pager="true" [options]="slideOpts" class="ion-slides-x">



  <div class="intro-text">
  <ion-slide class="slide-c" >
    <img class="crescer" src="../../../assets/images-coopeere/coopeereslide2.png">
  
    <h1 class="text-slider-c">Coopere você também, torne-se um cooperado</h1>
    <button [routerLink]="['/signup']">Cadastre-Se</button>  
  </ion-slide>
</div>

  <ion-slide class="slide-c">
    <img class="crescer" src="../../../assets/images-coopeere/coopeereslide1.png">

    <h1>O que a sociedade <br> espera dos nossos <br> goverantes?</h1>
    <button [routerLink]="['/signup']">Cadastre-Se</button>
  </ion-slide>

  <ion-slide class="slide-c">
    <img class="crescer" src="../../../assets/images-coopeere/coopeereslide2.png">
  
    <h1>O que nossos jovens <br> esperam do futuro?</h1>
    <button [routerLink]="['/signup']">Cadastre-Se</button>  
  </ion-slide>


  <ion-slide class="slide-c">
    <img class="crescer" src="../../../assets/images-coopeere/coopeere-offshore.jpg">
   
    <h1>Quantos milhares <br> de empregos  poderão <br> ser criados?</h1>
    <button [routerLink]="['/signup']">Cadastre-Se</button>  
  </ion-slide>


 


  </ion-slides>


  <h1 style="text-align:start; padding: 10px;">Apoio:</h1> 
  <ion-slides style="margin: 0px;"  [options]="slideOpts2" >

    <ion-slide>
      <img style="min-width: 50%" src="../../../assets/img/cooopeerre.png">      
    </ion-slide>
  
    <ion-slide>
      <img style="min-width: 50%" src="../../../assets/img/fitmmrj.png">
    </ion-slide>
  
    <ion-slide>
      <img style="min-width: 50%" src="../../../assets/img/wipdev.jpg">
    </ion-slide>
  
  
    <ion-slide>
      <img style="min-width: 50%" src="../../../assets/img/primesol.jpg">
    </ion-slide>
  
    <ion-slide>
      <img style="min-width: 50%" src="../../../assets/img/redeaurora.jpeg">
    </ion-slide>
  
    <ion-slide>
      <img style="min-width: 50%" src="../../../assets/img/fotonsolucoes.png">
    </ion-slide>
  
    <ion-slide>
      <img style="min-width: 50%" src="../../../assets/img/forcasindical.png">
    </ion-slide>
  
  
    </ion-slides>


    

  <ion-footer class="footer"> 

    
    
  <section class="p-menu1">
    <nav id="navbar" class="navigation" role="navigation">
      <input id="toggle1" type="checkbox" />
      <label class="hamburger1" for="toggle1">
        <div class="top"></div>
        <div class="meat"></div>
        <div class="bottom"></div>
      </label>

      <nav class="menu1" >
        <ion-label style="padding-left: 20px;" [routerLink]="['/eventos']">EVENTOS</ion-label>
        <ion-label style="padding-left: 20px;" [routerLink]="['/publicacoes']">PUBLICAÇÕES</ion-label>
        <ion-label style="padding-left: 20px;" [routerLink]="['/agenda']">AGENDA</ion-label>
        <ion-label style="padding-left: 20px;" [routerLink]="['/galeria']" >GALERIA DE FOTOS</ion-label>
        <ion-label style="padding-left: 20px;" [routerLink]="['/faleconosco']">FALE CONSOCO</ion-label>
      </nav>
  </nav>

  

  </section>
  
    <div class="menu-footer">
      <ion-label [routerLink]="['/eventos']">EVENTOS</ion-label>
      <ion-label [routerLink]="['/publicacoes']">PUBLICAÇÕES</ion-label>
      <ion-label [routerLink]="['/agenda']">AGENDA</ion-label>
      <ion-label [routerLink]="['/galeria']" >GALERIA DE FOTOS</ion-label>
      <ion-label [routerLink]="['/faleconosco']">FALE CONSOCO</ion-label>
    </div>
  
    <div class="social-media-icons">

      <!-- ROUTER LINKS NÃO FUNCIONAM COM LINKS DE VERDADE  -->
      
      <!-- MAS DEU PRA RESOLVER USANDO UMA FUNÇÃO COM TYPESCRIPT -->
            
            <ion-label (click)="openExternalLinkFacebook()">  <ion-img class="new-social-icons" src="../../../assets/images-coopeere/facebook.png"></ion-img>  </ion-label>
            <ion-label (click)="openExternalLinkInstagram()"> <ion-img class="new-social-icons" src="../../../assets/images-coopeere/instagram.png"></ion-img> </ion-label>
            <ion-label (click)="openExternalLinkYouTube()"> <ion-img class="new-social-icons" src="../../../assets/images-coopeere/youtube.png"></ion-img> </ion-label>
          </div>
          
    
    
  </ion-footer>
</ion-content>
