
.carousel {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:first-child {
    display: block;
}


ion-slide {
   position: relative;
   

}

ion-slide h1, ion-slide p {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align:left;
    font-size: 60px;
   // font-weight: bold;
    width: 50%;
    text-shadow: 2px 2px 2px #000000;
    min-width: 10%;
    color: #fff;
}

@media screen and (max-width: 767px) {
   ion-slide h1 {
       font-size: 18px;
       position: absolute;
       top: 70%;
       left: 30%;
    }

   
 }

 @media (max-width: 1366px) {
    ion-slide h1 {
        font-size: 20px;
     }
  }
 

ion-slide button {

    position: absolute;
    top: 30%;
    left: 16%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    width: 200px;
    margin-top: 200px;
    padding: 15px;
    border-radius: 50px;
    background-color: #2B571A;
}

@media (max-width: 767px) {
    ion-slide button   {
      width: 25%;
      font-size: 80%;
      position: absolute;
      top: 40%;
      left: 11%;
      padding: 10px;
        border-radius: 15px;
        width: 100px;
    }
 }



.header-header {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2B571A;
}

.header-header-min {
 background-color: #2B571A;
 padding-left: 150px;
}


@media screen and (max-width: 700px){
   .label-header {
        padding-top: 10px;
        padding-right: 500px;
        padding-left: 100px;
        color: #fff;
        z-index: 10;
    }
}


.label-header {
    padding-right: 100px;
    padding-left: 100px;
    color: #fff;
    z-index: 10;
}

.header {
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}





.logo {
    align-items: center;
    justify-content: center;
    display: flex;
  
    margin: auto;
}


ion-input {

    
    border-radius: 10px;
    min-width: 300px;
    max-width: 400px;
}


.menu-footer {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;   
    margin: auto;

}

.menu-footer ion-label {
    color: #fff;

}

.social-media-icons{
    gap: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    vertical-align:middle;
}

.footer {
   align-items: flex-end;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2B571A;
}

@media screen and (max-width: 700px) {
    .footer {
        padding-right: 5px;
        padding-top: 4px;
        padding-bottom: 10px;
    }
}



  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }

  .text-slider-c {
    text-align: left;

  }


  ion-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  //  z-index: 10;
  
    @media (max-width: 600px) {
      ion-button {
        display: none;
      }

      ion-header {
        display: none;
    }

    ion-img {
        display: none;
    }

    a { 
        display: none;
    }
      
    ion-icon {
        display: none;
    }

    ion-label {
        display: none;
    }

     div {
        display: none;
    }
    
    }

    @media (min-width: 601px){

    }

  }

  .header-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  
    @media (max-width: 600px) {
      ion-button {
        display: none;
      }

      ion-header .header-header {
        display: none;
    }

    ion-img {
        display: none;
    }

    a { 
        display: none;
    }
      
    ion-icon {
        display: none;
    }

    ion-label {
        display: none;
    }

     div {
        display: none;
    }
    
    }



  }

  /* ADICIONEI ESSAS LINHAS DE CSS ABAIXO
  PARA NÃO SOBREESCREVER O QUE JÁ TINHA E MOSTRAR O QUE EU FIZ*/

  ion-header {
    
    position: absolute;
    top: 25px;
    
    

    &::after {
        display: none;
    }

  
    .dropdown-content {
        min-width: 133px;
        
    }
    .dropdown-item {
        display: block;
        height: 50px;
        padding: 20px;
        transition: .4s;

        &::before {
            content: none;
        }
        &:hover{
            color: white;
            background-color: #7B9A6E;
            border: none;
        }
    }

    a{
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin: 20px;
        display: inline-block;
    }

    ion-button {
        cursor: pointer;
    }

    ion-button, a {

        display: block;
        margin: 0;
        position: relative;
        color: #2a302f;
        white-space: nowrap;
        font-size: 14px;
        font-family: "Open Sans", Sans-serif;
        font-weight: 00;
        padding: 0px 5px 0px 5px;
        padding-bottom: 35px;
        border-bottom: 5px solid transparent;
        height: 65px;
        transition: .4s;

        &:hover {
            color: #7B9A6E;
            
        }

        &::before {
            content: '';
            position: absolute;
            top: 60px;
            width: 0;
            right: 0;
            bottom: 0;
            height: 5px;
            background: #2B571A;
            transition: width .2s;

        }
        &:hover::before {
            width: 100%;
        }
    }

    .active-link:before {
        
        width: 100%;
        color: #7B9A6E;

    }

  }

  @media only screen and (max-width: 768px) {
.p-menu1 {
      display: block;
      align-items: flex-start;
    }
    .header .navigation {
      display: none;
    }
    .header .navigation.show {
      display: block;
    }
  }
  

  .header .navigation {
    display: none;
  }

  .header .navigation.show {
    display: block;
  }
  

  @media (max-width: 768px) {
    .header.hide-header { //esconder a header
      display: none;
    }
    .show-dropdown {
      display: none;
    }
  }

  .show-dropdown.show {
    display: block;
  }
  
  //inicio do novo menu hamburguer (footer)

/* General */
/* html {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
} */

/* body {
  margin: 20px 0;
  overflow: auto;
 
  color: #fff;
} */

a {
    color: #fff;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 100%;
     //margin-right: 50px;

  }
  
  
  
  
  /* Hamburger */
  .hamburger1 {
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 0.02fr);
    justify-items: left;
    z-index: 120;
  }
  
  .hamburger1 div {
    background-color: #fff;
    position: relative;
    width: 35px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 340px;
  }
  
  
  /* Menu */
  .menu1 {
    width: 100%;
    background-color:  #2B571A;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 0.5fr repeat(0.5fr);
    grid-row-gap: 1px;
    padding: 0px;
    list-style: none;
    clear: both;
    width: auto;
    text-align:left;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;

  }
  
  .menu1 a:first-child {
    margin-top: 20px;
  }
  
  .menu1 a:last-child {
    margin-bottom: 0px;
  }
  
  .link1 {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    font: 700 20px 'Oswald', sans-serif;
  }
  
  .link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  //fim do novo menu hamburguer

  //escondendo o menu hamb

  @media only screen and (min-width: 700px) {
    .p-menu1 {
      display: none;
    }

  }

  //

  //escondendo o menu-footer
  
  @media only screen and (max-width: 700px) {
    .menu-footer {
      display: none;
    }
  }

  //

  .new-social-icons {
    width: 65%;
    max-width: 50px;

  }

  // fim do esconder do menu hamb


  .minimum-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    
  }

  .logo-min-header {
    padding: 10px;
    padding-top: 42px;
    padding-left: 42px;
    
  }

  .menu-min-header {
    padding: 10px;
    padding-top: 50px;
    padding-left: 85px;
    font-size: 40px;

  }

  .search-min-header {
    padding: 10px;
    padding-top: 50px;
    padding-left: 10px;
    font-size: 40px;

  }

  @media screen and (min-width: 700px) {
    .minimum-header {
        display: none;
    }
  }

   //inicio do novo menu hamburguer (header)

/* General */
/* html {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
} */

/* body {
  margin: 20px 0;
  overflow: auto;
 
  color: #fff;
} */

a {
    color: #fff;
    text-decoration: none;
  }
  
  .p-menu2{
     height: 100%;
     //margin-right: 50px;

  }
  
  
  
  
  /* Hamburger */
  .hamburger2 {
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 0.02fr);
    justify-items: left;
    z-index: 120;
  }
  
  .hamburger2 div {
    background-color: #fff;
    position: relative;
    width: 35px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle2 {
    display: none;
  }
  
  #toggle2:checked + .hamburger2 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle2:checked + .hamburger2 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle2:checked + .hamburger2 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle2:checked ~ .menu1 {
    height: 340px;
  }
  
  
  /* Menu */
  .menu2 {
    width: 100%;
    background-color:  #2B571A;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 0.5fr repeat(0.5fr);
    grid-row-gap: 1px;
    padding: 0px;
    list-style: none;
    clear: both;
    width: auto;
    text-align:left;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;

  }
  
  .menu2 a:first-child {
    margin-top: 20px;
  }
  
  .menu2 a:last-child {
    margin-bottom: 0px;
  }
  
  .link2 {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    font: 700 20px 'Oswald', sans-serif;
  }
  
  .link2:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  //fim do novo menu hamburguer

  //escondendo o menu hamb

  @media only screen and (min-width: 700px) {
    .p-menu2 {
      display: none;
    }

  }

  //

  //escondendo o menu-footer
  
  @media only screen and (max-width: 700px) {
    .menu-footer {
      display: none;
    }
  }

  //

  .new-social-icons {
    width: 65%;
    max-width: 50px;

  }

  // fim do esconder do menu hamb

  .ion-slides-x {
    width: 2000px;
    height: 1000px;
    
  }

  ////////////// SLIDES X MEDIA QUERIES ////////////
  
  ///////////////  ESSA MEDIA QUERY É DA TELA GRANDE   /////////////

  @media screen and (min-width: 700px) {
    .ion-slides-x {
        width: 1920px;
        height: 900px; 
      }
  }

    ///////////////  ESSA MEDIA QUERY É DA TELA PEQUENA   /////////////

    @media screen and (max-width: 700px) {
        .ion-slides-x {
            width: 800px;
            height: 400px; 
          }
      }

  .slide-c {
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  ////////////////   CRESCER   /////////////

  .crescer {
    width: 3500%;
    height: 3500%;
    
    animation-name: crescer;
    animation-duration: 5s;
    
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    ;//animation-direction: alternate;
  }
  

  @keyframes crescer {
    from {
      transform: scale(1.3);
    }
    to {
      transform: scale(1.5);
    }
  }
  
  ////////////// CRESCER MEDIA QUERIES ////////////
  

  @media screen and (min-width: 700px) {

    .crescer {
        width: 2500px;
        height: 1000px;
        
        animation-name: crescer;
        animation-duration: 5s;
        
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        ;//animation-direction: alternate;
      }
    
  }

  ///////////////////     TESTANDO NOVO MENU HAMBURGER    /////////////////////
  /// 
  




  .thenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  // background-color: #333;
    color: #000;
    padding: 10px;
  }
  
  .hamburger-menu-X {
    display: none;
    cursor: pointer;
  }
  
  .bar-X {
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 5px 0;
  }
  
  .menu-items-X {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .menu-items-X li {
    list-style: none;
   // padding: 0 10px;
    z-index: 10;
  }
  
  .menu-items-X li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    z-index: 10;
  }
  
  .dropdown-menu-X {
    display: none;
    position: absolute;
     background-color: #333;
    padding: 10px;

  }
  
  .dropdown-menu-X li {
    list-style: none;
  }
  
  .dropdown-menu-X li a {
    color: #000;
    text-decoration: none;
  }
  
  .dropdown-X:hover .dropdown-menu-X {
    display: block;
  }
  
  @media only screen and (max-width: 768px) {
    .menu-items-X {
      //display: none;
      z-index: 10;
      position:absolute;
      margin-top: 500px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 350px;
      margin-left: -250px;
      margin-right: 100px;
    }
  
    .hamburger-menu-X {
      display: block;
    }
  
    .dropdown-menu-X {
      position: relative;
      
    }
  
    .menu-items-X li {
      width: 100%;
      text-align:left;
      padding: 1px;
        z-index: 10;
      
    }
  }
  

















  ///////////////////////////