.header-header {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(43,87,23);
}

.label-header {
    padding-right: 10px;
    padding-left: 10px;
}

#logo{
    position: relative;
    right: 55px;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding-top: 9px;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }

  /*Header*/

  ion-header {

    &::after {
        display: none;
    }

    .dropdown-content {
        min-width: 133px;
        
    }
    .dropdown-item {
        display: block;
        height: 50px;
        padding: 20px;
        transition: .4s;

        &::before {
            content: none;
        }
        &:hover{
            color: white;
            background-color: #7B9A6E;
            border: none;
        }
    }
    a{
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin: 20px;
        display: inline-block;
    }

    ion-button, a {

        cursor: pointer;
        display: block;
        margin: 0;
        position: relative;
        color: #333;
        white-space: nowrap;
        font-size: 14px;
        font-family: "Open Sans", "Sans-serif";
        font-weight: 500;
        padding: 40px 5px;
        border-bottom: 5px solid transparent;
        height: 112px;
        transition: .4s;

        &:hover {
            color: #7B9A6E;
            background-color: #fff;
            
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            width: 0;
            right: 0;
            height: 5px;
            background: #2B571A;
            transition: width .2s;

        }
        &:hover::before {
            width: 100%;
        }
    }

    .active-link:before {
        
        width: 100%;
        color: #7B9A6E;

    }
    .search{
        font-size: 25px;
        color: #2B571A;
        cursor: pointer;

    }
    .arrowicon{
        position: relative;
        top: 5px;
    }

  }


  /*body*/

  .container{
    display: flex;
    position: relative;
    margin-left: 19%;
    max-width: 59.2%;
    left: 25px;
    top: 19px;
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: 2;
    justify-content: space-between;
    .title{
    color: #6d7882;
    font-size: 37px;
    font-weight: 300;
    font-family: "Open Sans", "Sans-serif";
    margin-bottom: 40px;
    margin-right: 300px;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img{
            cursor: pointer;
            width: 300px;
            height: 225px;
            &:hover{
                filter: brightness(0.5)
            }
        }
    }

    ion-list{
        text-transform: uppercase;
        list-style: none;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        
        ion-label{
            cursor: pointer;
            margin: 0;
            width: 300px;
            position: relative;
            color: #2a302f;
            font-size: 1rem;
            font-family: "Open Sans", "Sans-serif";
            font-weight: 400;
            padding: 13px 20px;
            transition: .4s;
    
            &:hover {
                color: #7B9A6E;
                
            }
    
            &::before {
                content: '';
                position: absolute;
                width: 0;
                right: 0;
                bottom: 0;
                height: 3px;
                background: #7B9A6E;
    
            }
            &:hover::before {
                width: 100%;
            }
        }
        .active-link:before {
        
            width: 100%;
            color: #7B9A6E;
        
        }
    }
  }