
.carousel {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:first-child {
    display: block;
}


ion-slide {
   position: relative;
}

ion-slide h1, ion-slide p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: flex-start;
    font-size: 80px;
    width: 50%;
}

ion-slide button {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    width: 250px;
    margin-top: 200px;
    padding: 15px;
    border-radius: 50px;
    background-color: green;
}


.container {
    background-image: url("../../../../src/assets/img/turbinas-3.jpg");
    background-size: cover;
    height: 100%;
}
.header-header {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

.label-header {
    padding-right: 10px;
    padding-left: 10px;
}

.header {
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lista-dropdown{
    border-radius: 20px;
    padding-right: 10px;
}

.welcome {
    padding-top: 30px;
    font-size: 35px;
    font-weight: bold;
    
}

.welcome-div {
    padding-top: 30px ;
}

.logo {
    align-items: center;
    justify-content: center;
    display: flex;
  
    margin: auto;
}

.container-form {
    
    max-width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;

}

ion-input {

    
    border-radius: 10px;
    min-width: 300px;
    max-width: 400px;
}

.inputs {
    padding: 10px;
}

.input-labels {
    padding: 10px;
}

.input-label-text {
    font-weight: bold;
    font-size: 17px;
}

.menu-footer {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;   
    margin: auto;
}

.social-media-icons{
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer {
   align-items: flex-end;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

.select-text {
    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }

/* ADICIONEI ESSAS LINHAS DE CSS ABAIXO
  PARA NÃO SOBREESCREVER O QUE JÁ TINHA E MOSTRAR O QUE EU FIZ*/

body, html {
    height: 100%;
    font-family: Raleway, sans-serif;
}
.login {
    align-items: center;
    height: 100%;
    position: relative;
    }
.login, body {
    display: flex;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.py-5 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
    width: 100%;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

.align-items-center {
    align-items: center!important;
}
.justify-content-end {
    justify-content: flex-end!important;
}

.w-100 {
    width: 28%!important;
}
.d-flex {
    margin-left: 900px;
    display: flex!important;
}
form {
    margin: 0;
}
.login .card, .login .card .logo {
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 33%);
}
.login .card {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(240,249,255,.5);
    background: linear-gradient(180deg,rgba(50,153,254,.5),rgba(240,249,255,.5) 35%);
    border: unset;
}

.py-4 {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
}
.px-5 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}
.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}
.text-center {
    text-align: center!important;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.login .card .logo {
    align-items: center;
    background: #fff;
    border-radius: 50vh;
    display: flex;
    height: 75px;
    justify-content: center;
    margin: -66px auto 1rem;
    width: 75px;
}
.login .card, .login .card .logo {
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 33%);
}
.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}
.splash {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.splash svg {
    height: 50px;
    margin-bottom: 4px;
    margin-left: 6px;
    min-height: 50px;
    min-width: 50px;
    overflow: visible;
    transition: all .5s ease-in;
    width: 50px;
    z-index: 20;
}
img, svg {
    vertical-align: middle;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.splash svg path {
    -webkit-animation: rotate 10s linear 0s infinite;
    animation: rotate 10s linear 0s infinite;
    transform-origin: 45% 55%;
    transition: transform .2s ease;
}
.st0 {
    fill: #0773CE;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.h4, h4 {
font-size: calc(1.275rem + .3vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, b {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h4 {
    font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #212529;
}
b, strong {
    font-weight: 700;
    color: #212529;
}
p {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
user agent stylesheet
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
input {
    outline: none;
    border: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
.login .input-group {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #6d7d93;
    box-shadow: 0 0 0 0 transparent;
    padding: 0;
    transition: .2s ease;
}

.input-group {
    align-items: start;
    display: flex;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.input-group {
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}
.input-group.has-validation>.dropdown-toggle:nth-last-child(n+4), .input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.login .input-group .form-control, .login .input-group .input-group-text {
    background: transparent;
    border: unset;
    box-shadow: unset;
}
.input-group-text {
    align-items: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #212529;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    white-space: nowrap;
}
.fa, .fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-envelope:before {
    content: "\f0e0";
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.input-group.has-validation>.dropdown-toggle:nth-last-child(n+4), .input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.login .input-group .form-control {
    font-size: .85rem;
    padding-bottom: 0.25rem;
    padding-left: 0;
    padding-top: 1rem;
}
.login .input-group .form-control, .login .input-group .input-group-text {
    background: transparent;
    border: unset;
    box-shadow: unset;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>.form-control, .input-group>.form-select {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    width: 1%;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}
input[type=date], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
    width: 100%;
    border: 1px solid #666;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.form-control {
    border-radius: 0.33rem;
}
.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
input {
    outline: none;
    border: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.login .input-group .input-group-label {
    font-size: .75rem;
    left: 2.5rem;
    position: absolute;
    top: 0.7rem;
    transition: .2s ease;
}
label {
    display: inline-block;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
label {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.fa-lock:before {
    content: "\f023";
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.input-group.has-validation>.dropdown-toggle:nth-last-child(n+4), .input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.login .input-group .form-control {
    font-size: .85rem;
    padding-bottom: 0.25rem;
    padding-left: 0;
    padding-top: 1rem;
}
.login .input-group .form-control, .login .input-group .input-group-text {
    background: transparent;
    border: unset;
    box-shadow: unset;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>.form-control, .input-group>.form-select {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    width: 1%;
}
.login .esqueceu-senha {
    padding-bottom: 0.75rem;
    padding-top: 0.5rem;
    text-align: end;
}
.login .esqueceu-senha a {
    text-decoration: unset;
}
a:link {
    color: #000;
}

.elementor-kit-34 a {
    font-family: "Open Sans", Sans-serif;
    font-weight: 400;
}
a {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.small, small {
    font-size: .875em;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.login .btn-login {
    background: #0ea5e9;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    color: #fff;
    font-size: .8rem;
    padding: 0.5rem 1rem;
    width: 100%;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #212529;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.login .criar-conta {
    color: #2c3034;
    font-size: .75rem;
    margin-top: 1rem;
    text-align: center;
}
.login .criar-conta a {
    font-weight: 700;
    text-decoration: unset;
}
a:hover, a:visited {
    color: #095ba4;
}
.elementor-kit-34 a {
    font-family: "Open Sans", Sans-serif;
    font-weight: 400;
}
.login {
    align-items: center;
    height: 100%;
    position: relative;
}
.login, body {
    display: flex;
}