
<ion-header>
  <ion-card>
  <ion-img  
    [routerLink]="['/onboarding']" 
    style="max-width: 10%; padding: 20px; margin-left: 60px;" 
    src="../../../assets/images-coopeere/coopere.png"
    >
  </ion-img>
</ion-card>
  
</ion-header>
<ion-header>

  <ion-list *ngIf="data">
    <ion-item *ngFor="let item of data">
      {{ item.title }}
    </ion-item>
  </ion-list>
  
</ion-header>


<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedTab">
      <ion-segment-button value="option1">
        Informações Pessoais
      </ion-segment-button>
      <ion-segment-button value="option2">
        Informações Preenchimento
      </ion-segment-button>
      <ion-segment-button value="option3">
        Triagem
      </ion-segment-button>
      <ion-segment-button value="option4">
        PRODIST
      </ion-segment-button>
      <ion-segment-button value="option5">
        Mensalidade
      </ion-segment-button>
      <ion-segment-button value="option6">
      Regulamento
      </ion-segment-button>
      <ion-segment-button value="option7">
        Sorteio
      </ion-segment-button>
      <ion-segment-button value="option8">
        Convite
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="selectedTab">
    <div *ngSwitchCase="'option1'">

<ion-card class="card1">
  Seja bem-vindo 
</ion-card>

<ion-card class="blue-associate">

  <div class="card-infos-group">

  <div class="blue-associate-icon">
    <ion-icon name="bulb"></ion-icon>
  </div>

  <br><br>

  <div class="card-infos">
    <ion-label>Associado</ion-label>
      <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR O NOME DA PESSOA LOGADA -->
    <ion-label class="associate-text">Hellder Benjamin</ion-label>
      <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR O CPF DA PESSOA LOGADA -->
    <ion-label class="associate-text">007.344.457-09</ion-label>
  </div>

</div>

</ion-card>

<ion-card class="green-associate">

  
  <div class="card-infos-group">

    <div class="green-associate-icon">
      <ion-icon name="call"></ion-icon>
    </div>
  
    <br><br>
  
    <div class="card-infos">
      <ion-label>Contatos</ion-label>
        <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR O NOME DA PESSOA LOGADA -->
      <ion-label class="associate-text">(22) 99984 - 2434</ion-label>
        
      
    </div>
  
  </div>

</ion-card>

<ion-card class="red-associate">
  


  <div class="card-infos-group">

    <div class="red-associate-icon">
      <ion-icon name="location"></ion-icon>
    </div>
  
    <br><br>
  
    <div class="card-infos">
      <ion-label>Endereço</ion-label>
        <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR A RUA E O NÚMERO DA PESSOA LOGADA -->
      <ion-label class="associate-text">Rua Professora Agricolina de Freitas</ion-label>
        <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR A CIDADE E A SIGLA DO ESTADO DA PESSOA LOGADA -->
      <ion-label class="associate-text">Campos dos Goytacazes - RJ</ion-label>
       <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR O BAIRRO E O CEP DA PESSOA LOGADA -->
       <ion-label class="associate-text">Centro - 28013015</ion-label>
    </div>
  
  </div>

</ion-card>


    </div>
    <div *ngSwitchCase="'option2'">
      Content for option 2
    </div>
    <div *ngSwitchCase="'option3'">
      Content for option 3
    </div>
    <div *ngSwitchCase="'option4'">
      Content for option 4
    </div>
    <div *ngSwitchCase="'option5'">
      
      <div class="row-of-payment-options">

        <div>
        <ion-card class="class-of-row-of-payment-options">
          <ion-label class="payment-options-h"> Mensal</ion-label>
        <br> <br>


          <ion-label class="price">R$ 3,50</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>


   
        
        </ion-card>
      </div>

      <div>
        <ion-card class="class-of-row-of-payment-options">
          <ion-label class="payment-options-h">Bimestral</ion-label>
          
        
          <br> <br>


          <ion-label class="price">R$ 7,00</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>



        </ion-card>
      </div>

      <div>
        <ion-card class="class-of-row-of-payment-options">
          <ion-label class="payment-options-h">Trimestral</ion-label>
          
          <br> <br>


          <ion-label class="price">R$ 10,00</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>


        
        
        </ion-card>
      </div>

      <div>
        <ion-card class="class-of-row-of-payment-options">

          <ion-label class="payment-options-h">Semestral</ion-label>
        
          <br> <br>


          <ion-label class="price">R$ 18,00</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>


        
        
        </ion-card>
      </div>

      <div>
        <ion-card class="class-of-row-of-payment-options">
          
          <ion-label class="payment-options-h">Anual</ion-label>

          <br> <br>


          <ion-label class="price">R$ 32,00</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>


        </ion-card>
      </div>
      </div>

    </div>
    <div *ngSwitchCase="'option6'">
      Content for option 6
    </div>
    <div *ngSwitchCase="'option7'">
      Content for option 7
    </div>
    <div *ngSwitchCase="'option8'">
      Content for option 8
    </div>
   
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    
    <ion-buttons slot="end">
      <ion-button (click)="previousPage()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Anterior</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="nextPage()">
        <ion-label>Próxima</ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-buttons slot="end">
      <ion-button>
        <ion-label>Salvar</ion-label>
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>

  
  </ion-toolbar>
</ion-footer>


