html {
    -moz-tab-size: 4;
    tab-size: 4;
}
ion-segment-button {
    all: unset;
}
* {
    color: black;
    --background: #fff;
    font-family: Nunito,sans-serif;
    --indicator-transition: none;
    --color: none;
    --color-checked: none;
    --indicator-color: #3880ff;

    .button-clear, ion-buttons,p, strong {
        background: #fff;
    }
    .tab-title {
        background: #fff;
        font-size: 1.5rem;
    }
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;

}

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
.card1 {
    padding: 1.5%;
    font-size: 150%;
}

.row-of-payment-options {
    display: flex;
    flex-direction: row;
}

.class-of-row-of-payment-options {
    padding: 25px;
    border-radius: 25px 25px 25px 1px;
}

.payment-options-h {
    font-size: 22px;
    font-weight: bold;
}

.u-payment-options {
    font-size: 19px
}

.price {
    font-size: 52px;
    font-weight: bold;
}

.blue-associate {
    background-color: rgb(163, 220, 220);
    padding: 8px;
    color: blue;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    margin: 10px;
    border-radius: 9px;
    text-align: start;
    align-items: left;
    justify-content: left;

    .blueTitle {
        color: blue; ;
    }
}

.associate-text {
    color: #000000;
    font-weight: normal;
}

.blue-associate-icon {
    background-color: rgba(96,165,250, 1);
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 18px;
    border-radius: 5px;
    height: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blue-associate-icon ion-icon {
    color:#fff;
    font-size: 40px;
    font-weight: normal;
}

.card-infos {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 15px;
}

.card-infos-group {
   display: flex ;
    flex-direction: row;
    align-items: center;
}

.red-associate {
   
    background-color: rgb(220, 163, 163);
    padding: 8px;
    color: red;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    margin: 10px;
    border-radius: 9px;
    text-align: start;
    align-items: left;
    justify-content: left;

    .redTitle {
        color: red; ;
    }
}

.red-associate-icon {
    background-color: rgb(248, 113, 113);
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 18px;
    border-radius: 5px;
    height: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.red-associate-icon ion-icon {
    color:#fff;
    font-size: 40px;
    font-weight: normal;
}

.green-associate {
   
    background-color: rgb(164, 247, 146);
    padding: 8px;
    color: green;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    margin: 10px;
    border-radius: 9px;
    text-align: start;
    align-items: left;
    justify-content: left;

    .greenTitle {
        color: green; ;
    }
}

.green-associate-icon {
    background-color: rgba(52,211,153, 1);
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 18px;
    border-radius: 5px;
    height: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.green-associate-icon ion-icon {
    color:#fff;
    font-size: 40px;
    font-weight: normal;
}

/* ADICIONEI ESSAS LINHAS DE CSS ABAIXO
  PARA NÃO SOBREESCREVER O QUE JÁ TINHA E MOSTRAR O QUE EU FIZ*/

*, :after, :before {
    box-sizing: border-box;
}

*, ::after, ::before {
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, ::after, ::before {
    --tw-shadow: 0 0 #0000;
}
*, ::after, ::before {
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
}
*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
* {
    background: #eff6ff;
    font-family: Nunito,sans-serif;
}
header {
    display: block;
}
.navbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: relative;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    margin-left: 104.500px;
    margin-right: 104.500px;
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
    width: 100%;
}
.navbar-brand {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 200px;
}
.navbar-brand {
    font-size: 1.25rem;
    margin-right: 1rem;
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
    text-decoration: none;
    white-space: nowrap;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}
.pb-2 {
    padding-bottom: 0.5rem!important;
}

.pb-2 {
    padding-bottom: 0.5rem;
}
img, svg {
    vertical-align: middle;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
img {
    border-style: solid;
}
.navbar-brand span {
    color: #0859a8;
    font-size: .75rem;
    font-weight: 700;
}
.nav-usuario {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.usuario {
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    padding: 0.5rem 1rem;
    line-height: 1.5;
}
.usuario-nome {
    background: #fff;
    color: #212129;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.d-flex {
    background: #FFF;
    display: flex!important;
}
.usuario-dados {
    background: #fff;
    color: #5f5f5f;
    font-size: .75rem;
}
.space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.usuario-documento {
    background: #fff;
    white-space: nowrap;
}
.space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.navbar .navbar-nav {
    gap: 0.5rem;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 0;
}
.ml-5 {
    margin-left: 1.25rem;
}
dl, ol, ul {
    margin-bottom: 1rem;
    margin-top: 0;
}
ol, ul {
    padding-left: 2rem;
}
ol, ul {
    list-style: none;
    margin: 0;
}
.navbar .nav-item {
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .2s ease;
}
.navbar .nav-item .nav-link {
    color: #0959a4;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
}
.navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}
.nav-link {
    color: #0d6efd;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.text-right {
    text-align: right;
}
.container-step-menu {
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: center;
    margin-top: -45px;
}
.container-step-menu .step.active {
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    color: #000;
    position: relative;
}
.container-step-menu .step {
    align-items: center;
    border-radius: 4px 4px 0 0;
    color: #546e7a;
    cursor: pointer;
    display: inline-flex;
    height: 35px;
    margin-bottom: -1px;
    padding: 0 15px;
    white-space: nowrap;
}
.header-md::after {
    display: none;
}
.container-step-menu .step.active.finish:before {
    background: none!important;
}
.container-step-menu .step.finish:before {
    background: none;
    color: #478f24;
    content: "✓"!important;
    font-size: 18px;
    font-weight: 700;
    height: unset;
    top: -5px;
    width: unset;
}

.container-step-menu .step:before {
    background-color: #bbb;
    border: none;
    border-radius: 50%;
    content: "";
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 10px;
    margin: 3px 10px 4px 4px;
    opacity: .5;
    width: 10px;
}

.container-step-content {
    background: #fff;
    padding-top: 2rem;
}
.option-step-content{
    background: #fff;
    padding-top: 1rem;
}
.container-step-content::before {
    margin: 8px 0px 4px 4px;
}
ion-segment-button::part(indicator) {
    
    top: 0;
}
ion-segment-button::part(indicator-background) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 4px;
}
.ngcontent {
    background: #fff;
    padding: 10px;
    padding-left: 118px;
}
.option-content {
    background: #fff;
    padding-left: 118px;
}
div h2 {
    font-size: 1.5rem;
    background: #fff;
    padding: 0 0 10px 0px;
}
ion-segment-button::part(native) {
    padding-inline-start: 0;
    padding-inline-end: 0;
}
.contentBorder {
    /* border-top: 1px solid #000000;
    box-shadow: inset 0 -1px 0 0 black;
     */
}
ion-label, .card-infos, .card-infos-group {
    background: none;
}
ion-icon {
    background: none;
}
ion-segment {
    box-shadow: inset 0 -1px 0 0 #e4e4ef;;
}
h2 {
    margin: 0;
}
.active {
    border-left: 1px solid #e4e4ef; ;
    border-top: 1px solid #e4e4ef; ;
    border-right: 1px solid #e4e4ef; ;
}
ion-card {
    width: 100%;
    background-color: #eff6ff!important;
}
.col-md-6 {
    position: absolute;
    top: 30px;
    right: 130px;
    width: 546px;
    height: 400px;
    background-color: #FFF;
    padding-right: 0px;
    padding-left: 0px;

    img {
        width: 100%;
        height: 100%;
    }
}
.allCards {
    all: unset;
    position: absolute;
    left: 108px;
    width: 546px;
}
ion-toolbar {
    height: 34px;
}
.footer-toolbar {
    padding-bottom: 50px!important;
}
.toolbar-background {
    display: none;
}
.insertInfo {
    padding: 0!important;
    margin-bottom: 16px;
}
.triagemForm {
    background: #FFF;
}
fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
    background: #FFF;

    .col{
        padding-right: 0;
        padding-left: 0;
    }

    .col, #mensagem_triagem_titular, #mensagem_triagem_ntitular {
        background: #FFF;
    }
}
fieldset .row {
    padding-left: 40px;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 0px;
    background: #fff;
}
.operadora_field {
    background: #FFF;
    display: flex;
    gap: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.operadora_field .form-check-label.checked {
    background: #eff6ff;
    border-color: #0d6efd;
}
.operadora_field .form-check-label {
    background: #FFF;
    border: 1px solid #d9dade;
    border-radius: 0.25rem;
    color: #292b35;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}
label {
    display: inline-block;
}
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='%23fff'/%3E%3C/svg%3E");
}
.operadora_field .form-check-label input {
    margin-right: 0.5rem;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-check-input {
    -webkit-print-color-adjust: exact;
    appearance: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.25);
    height: 1em;
    margin-top: 0.2em;
    vertical-align: top;
    width: 1em;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
}
label span {
    background: none;
    margin-left: 1.7rem;
}
.col-auto > .form-check-input {
    left: 0px;
    margin-left: -40px;
}