<ion-header>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&amp;display=swap" rel="stylesheet">
  <link href="https://coopeere.microcampos.com.br/assets/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  <script src="../home/ionic-modified.js"></script>
  <nav class="navbar navbar-expand-lg">
    <div class="container flex-col sm:flex-row">
      <a class="navbar-brand" href="/">
        <img class="pb-2" src="https://coopeere.microcampos.com.br/img/logo-coopeere-vert.png" alt="Coopeere">
        <span>CNPJ: 40.409.711/0001-39</span>
      </a>
      
      <div class="nav-usuario">
        <div class="usuario">
          <div class="usuario-nome">Hellder Benjamin</div>
          <div class="d-flex justify-content-md-between space-x-2">
            <div class="usuario-dados">
              CPF: 
              <span class="usuario-documento">007.344.457-09</span>
            </div>
            <div class="usuario-dados">No. do Coop.: 43</div>
          </div>
        </div>
      
        <ul class="navbar-nav ml-5 nav-separator nav-exit">
          <li class="nav-item">
            <br>
            <a class="nav-link text-right" href="https://coopeere.microcampos.com.br">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ion-header>

<ion-toolbar>
  <ion-segment [(ngModel)]="selectedTab" class="container-fluid container-step-menu">
  
      <ion-segment-button value="option1" id="tab_0" class="step finish active" data-index="0" [ngClass]="{'active': selectedTab === 'option1'}">Informações Pessoais</ion-segment-button>
      <ion-segment-button value="option2" id="tab_1" class="step finish" data-index="1" [ngClass]="{'active': selectedTab === 'option2'}">Informações Preenchimento</ion-segment-button>
      <ion-segment-button value="option3" id="tab_2" class="step finish" data-index="2" [ngClass]="{'active': selectedTab === 'option3'}">Triagem</ion-segment-button>
      <ion-segment-button value="option4" id="tab_3" class="step finish" data-index="3" [ngClass]="{'active': selectedTab === 'option4'}">PRODIST</ion-segment-button>
      <ion-segment-button value="option5" id="tab_4" class="step finish" data-index="4" [ngClass]="{'active': selectedTab === 'option5'}">Mensalidade</ion-segment-button>
      <ion-segment-button value="option6" id="tab_5" class="step finish" data-index="5" [ngClass]="{'active': selectedTab === 'option6'}">Regulamento</ion-segment-button>
      <ion-segment-button value="option7" id="tab_6" class="step finish" data-index="6" [ngClass]="{'active': selectedTab === 'option7'}">Sorteio</ion-segment-button>
      <ion-segment-button value="option8" id="tab_7" class="step finish" data-index="7" [ngClass]="{'active': selectedTab === 'option8'}">Convite</ion-segment-button>

  </ion-segment>
</ion-toolbar>

<ion-content>

  <div [ngSwitch]="selectedTab">
    <div *ngSwitchCase="'option1'" class="ngcontent">
      <h2 class="insertInfo"><br>
        Informações Pessoais 
      </h2>
<div class="allCards">
<ion-card class="blue-associate">

<div class="card-infos-group">

  <div class="blue-associate-icon">
    <ion-icon class="far fa-lightbulb">
    </ion-icon>
  </div>

  <br><br>

  <div class="card-infos">
    <ion-label class="blueTitle">Associado</ion-label>
      <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR O NOME DA PESSOA LOGADA -->
    <ion-label class="associate-text">Hellder Benjamin</ion-label>
      <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR O CPF DA PESSOA LOGADA -->
    <ion-label class="associate-text">007.344.457-09</ion-label>
  </div>

</div>

</ion-card>

<ion-card class="green-associate">
  
  <div class="card-infos-group">

    <div class="green-associate-icon">
      <ion-icon class="fa fa-volume-control-phone" aria-hidden="true"></ion-icon>
    </div>
  
    <br><br>
  
    <div class="card-infos">
      <ion-label class="greenTitle">Contatos</ion-label>
        <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR O NOME DA PESSOA LOGADA -->
      <ion-label class="associate-text">(22) 9984-2434</ion-label>
        
      
    </div>
  
  </div>

</ion-card>

<ion-card class="red-associate">
  


  <div class="card-infos-group">

    <div class="red-associate-icon">
      <ion-icon class="fa fa-map-marker"></ion-icon>
    </div>
  
    <br><br>
  
    <div class="card-infos">
      <ion-label class="redTitle">Endereço</ion-label>
        <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR A RUA E O NÚMERO DA PESSOA LOGADA -->
      <ion-label class="associate-text">Rua Professora Agricolina de Freitas</ion-label>
        <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR A CIDADE E A SIGLA DO ESTADO DA PESSOA LOGADA -->
      <ion-label class="associate-text">Campos dos Goytacazes - RJ</ion-label>
       <!-- LEMBRAR QUE AQUI NA VERDADE PRECISA ESTAR O BAIRRO E O CEP DA PESSOA LOGADA -->
       <ion-label class="associate-text">Centro - 28013015</ion-label>
    </div>
  
  </div>

</ion-card>
</div>

<div class="col-md-6 d-none d-md-block text-md-right">
  <img class="w-full h-96 rounded-xl object-cover shadow-md" src="https://coopeere.microcampos.com.br/img/informacoes-pessoais.jpg" alt="thumb" style="height: 400px">
</div>

</div>

    <div *ngSwitchCase="'option2'" class="ngcontent">
      <div class="container-step-content">
      <h2 class="insertInfo">Informações de Preenchimento</h2>
      <p>Pedimos que use as funções a seguir durante o preenchimento:</p>
      
      <p>A função <strong>"Enviar"</strong> deverá ser utilizada somente quando todo formulário estiver preenchido e ao menos uma mensalidade for paga clicando no último item<br> da barra de opções. Havendo necessidade de mudança nos dados enviados, clique na função "Reeditar" e todas as lacunas de preenchimento estarão aptas<br> a serem modificadas. Um link será enviado para o e-mail ou um código para o celular. Siga as instruções.</p>
      
      <p>A função <strong>"Salvar"</strong> poderá ser utilizada a qualquer momento durante o preenchimento e assim garantir o que já foi preenchido não será perdido. Usando<br> esta função, você poderá concluir o preenchimento novamente quando desejar.</p>
      
      <p>A função <strong>"Visualizar/Imprimir"</strong> encontrará o Formulário PRODIST padrão ANEEL pag. 73. Será neste formulário que enviaremos seus dados a Distribuidora<br> de Energia responsável pelo seu município.</p>
      
      <p>A função <strong>"Reeditar"</strong> Clique em reeditar quando for fazer alterações nos dados já enviados a cooperativa. Será enviado um link para o e-mail usado no ato<br> do cadastro. No caso de mudança de celular, será necessário o envio de link para o mesmo e-mail usado no cadastro. Mudança de e-mail enviaremos código<br> via SMS para o celular usado no ato do cadastro.</p>
      
      <p>A função <strong>"Deletar conta"</strong>. Clique em deletar conta para remover todos seus dados e sair da cooperativa. Agradecemos se deixar um feedback sobre as<br> razões de sua saída.</p>
    </div>
  </div>
    <div *ngSwitchCase="'option3'" class="option-content">
      <div class="container-step-content">
        <form class="triagemForm" method="POST" id="regForm" action="">
          <fieldset class="fieldset">
            <h3 class="tab-title">Triagem</h3>
            <p for="operadora">Escolha a sua distribuidora (de acordo com sua conta de luz):</p>
            <div class="operadora_field mb-5">
              
                <label class="form-check-label checked" for="operadora1" id="operadora1_nome">
                  <input class="form-check-input" checked="" type="radio" id="operadora1" name="idoperadora" value="1" wfd-id="id17">
                  <span>Enel-RJ</span>
                </label>
              
                <label class="form-check-label " for="operadora2" id="operadora2_nome">
                  <input class="form-check-input" type="radio" id="operadora2" name="idoperadora" value="2" wfd-id="id18">
                  <span>Light-RJ</span>
                </label>
              
                <label class="form-check-label " for="operadora3" id="operadora3_nome">
                  <input class="form-check-input" type="radio" id="operadora3" name="idoperadora" value="3" wfd-id="id19">
                  <span>Enel-SP</span>
                </label>
                  </div>
        
                                            
            <div class="row align-items-start md:align-items-center mb-3">
              <div class="col-auto">
                <input class="form-check-input" type="radio" id="titular" checked="" name="eh_titular" value="true" wfd-id="id20">
              </div>
        
              <div class="col">
                <label class="form-check-label" for="titular" id="mensagem_triagem_titular">Tenho uma conta Enel-RJ em meu nome. (Preencha o formulário PRODIST ANEEL com os dados desta conta)</label>
              </div>
        
            </div>
        
            <div class="row align-items-start md:align-items-center">
              <div class="col-auto">
                <input class="form-check-input" type="radio" id="ntitular" name="eh_titular" value="false" wfd-id="id21">
              </div>
        
              <div class="col">
                <label class="form-check-label" for="ntitular" id="mensagem_triagem_ntitular">Não sou titular de uma conta Enel-RJ, mas me cadastrarei com o Link convite que me foi enviado ou o farei sem convite por livre e espontânea vontade para apoiar a cooperativa. (você será um Cooperado Apoiador).</label>
              </div>
            </div>
        
          </fieldset>
        </form>
      </div>
    </div>
    <div *ngSwitchCase="'option4'" class="ngcontent">
      Content for option 4
    </div>
    <div *ngSwitchCase="'option5'" class="ngcontent">
      
      <div class="row-of-payment-options">

        <div>
        <ion-card class="class-of-row-of-payment-options">
          <ion-label class="payment-options-h"> Mensal</ion-label>
        <br> <br>


          <ion-label class="price">R$ 3,50</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>


   
        
        </ion-card>
      </div>

      <div>
        <ion-card class="class-of-row-of-payment-options">
          <ion-label class="payment-options-h">Bimestral</ion-label>
          
        
          <br> <br>


          <ion-label class="price">R$ 7,00</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>



        </ion-card>
      </div>

      <div>
        <ion-card class="class-of-row-of-payment-options">
          <ion-label class="payment-options-h">Trimestral</ion-label>
          
          <br> <br>


          <ion-label class="price">R$ 10,00</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>


        
        
        </ion-card>
      </div>

      <div>
        <ion-card class="class-of-row-of-payment-options">

          <ion-label class="payment-options-h">Semestral</ion-label>
        
          <br> <br>


          <ion-label class="price">R$ 18,00</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>


        
        
        </ion-card>
      </div>

      <div>
        <ion-card class="class-of-row-of-payment-options">
          
          <ion-label class="payment-options-h">Anual</ion-label>

          <br> <br>


          <ion-label class="price">R$ 32,00</ion-label>

          <ion-radio-group value="payment-options">
            <ion-item>
              <ion-label class="u-payment-options">Pix</ion-label>
              <ion-radio  slot="end" value="pix" [disabled]="false"></ion-radio>
            </ion-item>
        
        <ion-label></ion-label>

            <ion-item>
              <ion-label class="u-payment-options">Boleto Bancário</ion-label>
              <ion-radio slot="end" value="boleto" [disabled]="false"></ion-radio>
            </ion-item>
          </ion-radio-group>


        </ion-card>
      </div>
      </div>

    </div>
    <div *ngSwitchCase="'option6'" class="ngcontent">
      Content for option 6
    </div>
    <div *ngSwitchCase="'option7'" class="ngcontent">
      Content for option 7
    </div>
    <div *ngSwitchCase="'option8'" class="ngcontent">
      Content for option 8
    </div>
   
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    
    <ion-buttons class="arrowBack" slot="end">
      <ion-button *ngIf="selectedTab !== 'option1'" (click)="previousPage()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Anterior</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="selectedTab !== 'option8'" class="arrowForward" slot="end">
      <ion-button (click)="nextPage()">
        <ion-label>Próxima</ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="selectedTab === 'option8'" class="finish" slot="end">
      <ion-button>
        <ion-label>Finalizar</ion-label>
      </ion-button>
    </ion-buttons>
  
    <ion-buttons slot="end" class="save">
      <ion-button>
        <ion-label>Salvar</ion-label>
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    

  
  </ion-toolbar>
</ion-footer>